@import '../../../../Styles/colors.css';
@import '../../../../Styles/sizes.css';

.Footer {
  grid-area: footer;
  position: absolute;
  /*bottom: var(--indent-s);*/
  left: 0;
  width: max-content;
  /*background: rgba(var(--grey-light, .8));*/
}

.Footer__text {
  /*color: var(--grey-dark);*/
  font-weight: 300;
  font-size: var(--font-s);
  line-height: 1.4;
  /*padding: var(--indent-s / 2 var(--indent-s);*/
}
